bin/
obj/
AllergiesScoreCard.Solution/AllergiesScoreCard/bin/
AllergiesScoreCard.Solution/AllergiesScoreCard/obj/
AllergiesScoreCard.Solution/AllergiesScoreCard.Tests/bin/
AllergiesScoreCard.Solution/AllergiesScoreCard.Tests/obj/
